<div class="container-fliud" class="bg-login" style="height: 100vh">
    <div class="d-flex align-items-center justify-content-center h-100">

        <div class="col-md-4 mx-auto">
            <div class="card card-login">
                <div class="card-body">
                    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
                        <div class="row justify-content-center">
                            <img src="../../assets/tag-logo.png" width="100" alt="" srcset="">
                        </div>
                        <h2 class="text-center"><b>Chat-App</b></h2>

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" name="nombre" required nombre [(ngModel)]="usuario.nombre" placeholder="Nombre">
                            <mat-error *ngIf="registerForm.submitted && registerForm.controls['nombre'].errors">
                                Este campo es obligatorio.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Correo</mat-label>
                            <input matInput type="email" name="correo" required correo [(ngModel)]="usuario.correo" pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+" placeholder="Correo">
                            <mat-error *ngIf="registerForm.submitted && registerForm.controls['correo'].errors">
                                Ingrese un correo válido.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Contraseña</mat-label>
                            <input matInput type="password" name="password" required minlength="6" [(ngModel)]="usuario.password" placeholder="Contraseña">
                            <mat-error *ngIf="registerForm.submitted && registerForm.controls['password'].errors">
                                La contraseña debe tener por lo menos 6 caracteres
                            </mat-error>
                        </mat-form-field>

                        <button class="w-100 btn-custom btn-block text-white mt-2" mat-flat-button color="primary" type="submit">
                        <b>Crear cuenta</b>
                      </button>

                        <br>
                        <div class="row justify-content-center mt-2">
                            <h3 class="text-muted">¿Ya tienes una cuenta?</h3>
                        </div>
                        <div class="row justify-content-center">
                            <a routerLink="/login">
                                <h1 class="font-weight-bold">Crea una ahora!</h1>
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#3669EB" type="square-jelly-box" [fullScreen]="true">
    <p style="color: #3669EB"> Loading... </p>
</ngx-spinner>
